<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>NEVERSEA - Contact</title>
</head>
<body>
    
<header>
    <nav id="nav">
        <div class="logo">NEVERSEA</div>
        <input type="checkbox" id="checkbox">
        <label for="checkbox" id="icon">
            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
        </label>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <div class="big-title">
        <h1>AUTUMN MUSIC FESTIVAL</h1>
        <h2>1 - 31 OCTOBER</h2>
    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button> 
</header><br>

<div class="container">
	<div class="row">
			<h1>Contact US</h1>
	</div>
	<div class="row input-container">
			<div class="col-xs-12">
				<div class="styled-input wide">
					<input type="text" required />
					<label>Name</label> 
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="styled-input">
					<input type="text" required />
					<label>Email</label> 
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="styled-input" style="float:right;">
					<input type="text" required />
					<label>Phone Number</label> 
				</div>
			</div>
			<div class="col-xs-12">
				<div class="styled-input wide">
					<textarea required></textarea>
					<label>Message</label>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="btn-lrg submit-btn">Send Message</div>
			</div>
	</div>
</div>

<section class="contact-area" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="contact-content text-center">
                    <div class="contact">
                        <div>
                            <h2>NEVERSEA</h2>
                            <h3>Enjoy Party with US</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua. Quis ipsum </p>
                            <div class="hr"></div>
                        </div>
                        <div>
                            <h6>1120 Lorem ipsum dolor sit amet, KC 179050, Chandigarh.</h6>
                            <h6>Support</h6>
                            <h6>+01 2345 6789 12<span>|</span>+01 2345 6789 12</h6>
                            <h6>summerfestival2022@contact.com</h6>
                        </div>
                    </div>
                    <div class="contact-social">
                        <ul>
                            <li><a class="hover-target" href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a class="hover-target" href=""><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a class="hover-target" href=""><i class="fab fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <p>Copyright &copy; 2022 NEVERSEA All Rights Reserved.</p>
</footer>

<script src="js/main.js"></script>
</body>
</html>