<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <title>NEVERSEA - Home</title>
</head>

<body>

    <header>
        <nav id="nav">
            <div class="logo">NEVERSEA</div>
            <input type="checkbox" id="checkbox">
            <label for="checkbox" id="icon">
                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                    </path>
                </svg>
            </label>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <div class="big-title">
            <h1>AUTUMN MUSIC FESTIVAL</h1>
            <h2>1 - 31 OCTOBER</h2>
        </div>
        <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button>
    </header><br>

    <div id="general-content">
        <h2>Plan</h2><br>
        <h2>Festival Days</h2><br><br>

        <div class="parent-cards">
            <div class="cards">
                <img src="img/neversea.jpeg" alt="">
                <p>
                    What is Lorem Ipsum?
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div><br><br>

            <div class="cardstwo">
                <img src="img/daytwo.jpg" alt="">
                <p>
                    What is Lorem Ipsum?
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div><br><br>

            <div id="slideshow">
                <div id="slides">
                    <div class="slide show" data-slide="1">
                        <img src="https://www.djmag.de/fileadmin/Redaktion/_processed_/7/8/csm_Neversea-Festival_Ark-Stage_dc85814ac8.jpg"
                            alt="">

                        <div class="content">
                            <span class="title">Slide 1</span>

                            <p class="description">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum molestias
                                necessitatibus omnis
                                harum dolore, saepe tempore voluptatum? Facere ducimus aperiam modi ipsam expedita, et
                                sequi
                                dolorem cumque voluptas ab. Deleniti vitae pariatur debitis aliquid reprehenderit
                                mollitia quas
                                inventore natus nihil nisi commodi tempora dolorem, ut rerum fugit iure sed officiis.
                            </p>
                        </div>
                    </div>

                    <div class="slide" data-slide="2">
                        <img src="https://images.unsplash.com/photo-1470229722913-7c0e2dbbafd3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                            alt="">

                        <div class="content">
                            <span class="title">Slide 2</span>

                            <p class="description">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum molestias
                                necessitatibus omnis
                                harum dolore, saepe tempore voluptatum? Facere ducimus aperiam modi ipsam expedita, et
                                sequi
                                dolorem cumque voluptas ab. Deleniti vitae pariatur debitis aliquid reprehenderit
                                mollitia quas
                                inventore natus nihil nisi commodi tempora dolorem, ut rerum fugit iure sed officiis.la!
                            </p>
                        </div>
                    </div>

                    <div class="slide" data-slide="3">
                        <img src="https://images.unsplash.com/photo-1582711012124-a56cf82307a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=940&q=80"
                            alt="">

                        <div class="content">
                            <span class="title">Slide 3</span>

                            <p class="description">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum molestias
                                necessitatibus omnis
                                harum dolore, saepe tempore voluptatum? Facere ducimus aperiam modi ipsam expedita, et
                                sequi
                                dolorem cumque voluptas ab. Deleniti vitae pariatur debitis aliquid reprehenderit
                                mollitia quas
                                inventore natus nihil nisi commodi tempora dolorem, ut rerum fugit iure sed officiis.
                            </p>
                        </div>
                    </div>

                    <div class="slide" data-slide="4">
                        <img src="https://images.unsplash.com/photo-1429962714451-bb934ecdc4ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                            alt="">

                        <div class="content">
                            <span class="title">Slide 4</span>

                            <p class="description">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum molestias
                                necessitatibus omnis
                                harum dolore, saepe tempore voluptatum? Facere ducimus aperiam modi ipsam expedita, et
                                sequi
                                dolorem cumque voluptas ab. Deleniti vitae pariatur debitis aliquid reprehenderit
                                mollitia quas
                                inventore natus nihil nisi commodi tempora dolorem, ut rerum fugit iure sed officiis.
                            </p>
                        </div>
                    </div>

                    <div class="slide" data-slide="5">
                        <img src="https://images.unsplash.com/photo-1520483691742-bada60a1edd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                            alt="">

                        <div class="content">
                            <span class="title">Slide 5</span>

                            <p class="description">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum molestias
                                necessitatibus omnis
                                harum dolore, saepe tempore voluptatum? Facere ducimus aperiam modi ipsam expedita, et
                                sequi
                                dolorem cumque voluptas ab. Deleniti vitae pariatur debitis aliquid reprehenderit
                                mollitia quas
                                inventore natus nihil nisi commodi tempora dolorem, ut rerum fugit iure sed officiis.
                            </p>
                        </div>
                    </div>

                    <div class="slide-btn next">
                        <span>&raquo;</span>
                    </div>

                    <div class="slide-btn prev">
                        <span>&laquo;</span>
                    </div>
                </div>

                <div id="gallery">
                    <div class="thumbnail" data-slide="1">
                        <img src="https://www.djmag.de/fileadmin/Redaktion/_processed_/7/8/csm_Neversea-Festival_Ark-Stage_dc85814ac8.jpg"
                            alt="">
                    </div>

                    <div class="thumbnail" data-slide="2">
                        <img src="https://images.unsplash.com/photo-1470229722913-7c0e2dbbafd3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                            alt="">

                    </div>

                    <div class="thumbnail" data-slide="3">
                        <img src="https://images.unsplash.com/photo-1582711012124-a56cf82307a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=940&q=80"
                            alt="">

                    </div>

                    <div class="thumbnail" data-slide="4">
                        <img src="https://images.unsplash.com/photo-1429962714451-bb934ecdc4ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                            alt="">
                    </div>

                    <div class="thumbnail" data-slide="5">
                        <img src="https://images.unsplash.com/photo-1520483691742-bada60a1edd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                            alt="">
                    </div>
                </div>
            </div>

            <div class="cards">
                <img src="img/daythree.jpg" alt="">
                <p>
                    What is Lorem Ipsum?
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div><br><br>


            <div class="cardstwo">
                <img src="img/dayfour.jpg" alt="">
                <p>
                    What is Lorem Ipsum?
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </div><br><br>

        </div>
    </div>

    <section class="contact-area" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="contact-content text-center">
                        <div class="contact">
                            <div>
                                <h2>NEVERSEA</h2>
                                <h3>Enjoy Party with US</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua. Quis ipsum </p>
                                <div class="hr"></div>
                            </div>
                            <div>
                                <h6>1120 Lorem ipsum dolor sit amet, KC 179050, Chandigarh.</h6>
                                <h6>Support</h6>
                                <h6>+01 2345 6789 12<span>|</span>+01 2345 6789 12</h6>
                                <h6>summerfestival2022@contact.com</h6>
                            </div>
                        </div>
                        <div class="contact-social">
                            <ul>
                                <li><a class="hover-target" href=""><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="hover-target" href=""><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a class="hover-target" href=""><i class="fab fa-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <p>Copyright &copy; 2022 NEVERSEA All Rights Reserved.</p>
    </footer>

    <script src="js/main.js"></script>
</body>

</html>